/*=============== NAVBAR ===============*/
.nav{
   position: fixed;
   bottom: 1.5rem;
   left: 0;
   right: 0;
   background-color: var(--black-color);
   width: 88%;
   margin-inline: auto;
   box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
   padding: 1rem 1.75rem;
   border-radius: 4rem;
   z-index: var(--z-fixed);

   &__list{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__link{
      color: var(--text-color);
      font-size: 1.5rem;
      transition: color .4s;

      &:hover{
         color: var(--white-color);
      }
   }
}

/*=============== EXPAND LIST ===============*/
.nav__expand{
   border: none;
   outline: none;
   width: 40px;
   height: 40px;
   background-color: var(--first-color);
   border-radius: 50%;
   cursor: pointer;
   
   &-icon{
      display: inline-block;
      color: var(--white-color);
      font-size: 1.5rem;
      transition: transform .4s;
   }
   &-list{
      position: absolute;
      top: -4.5rem;
      left: 0;
      right: 0;
      background-color: var(--black-color);
      box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
      width: max-content;
      margin-inline: auto;
      padding: .5rem 1.5rem;
      border-radius: 4rem;
      display: flex;
      column-gap: 2rem;
      z-index: -1;
      overflow: hidden;
      transform: translateY(5rem) scale(.1);
      transition: transform .5s cubic-bezier(.5, 1.8, .4, .8);

      & li{
         transform: translateY(-3rem);
         transition: transform .4s;
      }
      & li:nth-child(1){
         transition-delay: .2s;
      }  
      & li:nth-child(2){
         transition-delay: .3s;
      }
      & li:nth-child(3){
         transition-delay: .4s;
      }
   }
   &-link{
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: color .4s;
   
      & i{
         font-size: 1.5rem;
      }
      & span{
         font-size: var(--tiny-font-size);
         font-weight: var(--font-semi-bold);
      }
      &:hover{
         color: var(--white-color);
      }
   }
}

/* Show list */
.show-list,
.show-list li{
   transform: translateY(0);
}

/* Rotate icon */
.rotate-icon{
   transform: rotate(135deg);
}

/* Active link */
.active-link{
   color: var(--white-color);
}
